@charset "utf-8";
/* CSS Document */
a {text-decoration:none; font:normal 12px 'dotum','MalgunGotic','돋움','맑은 고딕',sans-serif; color:#666;}
ul,li {list-style:none;}

body {width:100%; height:100%; background-image:url(../img/abstract-315181_640.jpg); color:#000;}
p,h1 {color:#000;}
a {text-decoration:none;}

.main_01 {position:relative;}
.main_01 img {position:absolute; top:40px; left:500px;}
/*.main_02 h1 { display:none; position:absolute; top:330px; left:530px; width:550px; }
.main_02 h1 a {font:Verdana, magun-gothic, sans-serif; font-size:45px; font-weight:bold;}*/

.main_02 img {display:none; position:absolute; top:390px; left:511px; widows:550px;}

